@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("drop_down_select.css");
@import url("questionBlock.css");
@import url("formElement.css");

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #ede7f6;
  font-family: "Open Sans";
  margin: 0;
  min-width: 110vh;
}

header {
  display: flex;
  background-color: whitesmoke;
  height: 7%;
  align-items: center;
  box-shadow: 0px 15px 10px -15px;
}

.logo {
  margin-left: 2%;
  height: 70%;
}

.create-form {
  margin-inline-start: auto;
  margin-inline-end: 2%;
  background-color: #673ab7;
  color: #fff;
  border: 1px 1px;
  border-radius: 0.4em;
  height: 70%;
  padding: 0 1% 0 1%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 36px;
  font-family: "Open Sans";
}

.take-input {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 1em;
  border: none;
  background-color: inherit;
}

input {
  font-family: "Open Sans";
  font-weight: bold;
}

input:focus {
  outline: none;
  border-bottom: 2px solid black;
  margin-bottom: -2px;
}

.create-block {
  display: flex;
  width: 90%;
  background-color: transparent;
  margin-bottom: 30px;
}

.block {
  display: flex;
  border-radius: 5px;
  width: 95%;
  box-shadow: 0px 15px 10px -15px;
  background-color: whitesmoke;
  margin-right: 1em;
  height: fit-content;
}

.focus-block {
  width: 0.7%;
  align-self: stretch;
  background-color: #4285f4;
  border-radius: 15px 0 0 15px;
}

.operation-block {
  display: flex;
  flex-direction: column;
  width: 5%;
  background-color: whitesmoke;
  height: min-content;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(125, 125, 128, 0.5);
}

.operation-button:first-child {
  margin-block-start: 10px;
}

.operation-button:last-child {
  margin-block-end: 10px;
}

.operation-button {
  align-self: center;
  margin: 4px;
  padding: 5px;
  border-radius: 50%;
}

.operation-button:hover {
  cursor: default;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 50px 10% auto 20%;
}

.hover-block {
  padding: 4px;
  display: flex;
  width: 10%;
  flex-direction: column;
}

.hover-block span {
  /* display: none; */
  visibility: hidden;
  font-size: 12px;
  width: max-content;
  color: white;
  margin: 10px 4px;
  padding: 3px;
  background-color: grey;
  border-radius: 5px;
}

.main-block {
  /* display: flex; */
  width: 99.3%;
}

.inside-block {
  display: flex;
  position: relative;
  width: 100% - 60px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 35px 30px 35px 30px;
  margin: 0;
  z-index: 0;
}

.input-title {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: rgb(240, 236, 236);
  border-radius: 3px;
  border-bottom: 1px solid rgb(121, 120, 120);
  height: min-content;
}

.input-title:focus {
  border-bottom: 2px solid rebeccapurple;
  margin-bottom: -1px;
}

.form-title-block {
  display: flex;
  width: 100%;
  align-self: stretch;
  margin-bottom: 20px;
}

.description {
  width: 100%-10px;
  font-size: 15px;
  padding: 5px;
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: transparent;
  border-radius: 2px;
  border-bottom: 1px solid rgb(156, 154, 154);
  height: min-content;
  margin-right: 10px;
}

.description:focus {
  border-bottom: 2px solid rgb(166, 131, 200);
  margin-bottom: -1px;
}

.description-button {
  width: 36px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  align-self: center;
  padding: 0;
}

.description-button span {
  left: 50%;
  top: 50%;
}

.description-button span:hover {
  background-color: #c7c5c8;
  border-radius: 5px;
}

.image-button {
  /* visibility: hidden; */
  left: -10px;
  top: 20px;
  position: relative;
  border-radius: 50%;
  border: none;
  background-color: #e9eaeb;
  padding: 5px 7px;
}

.image-button:hover {
  background-color: #c7c5c8;
}

.image-element {
  z-index: -1;
  width: 100%;
}

.hide {
  display: none;
}

.image-and-button {
  width: 98%;
  padding: 0 1% 0 1%;
  margin-top: -10px;
}

.caption {
  border: none;
  width: 95%;
  padding: 5px;
  background-color: transparent;
  font: "Rubik", sans-serif;
  margin-top: 5px;
  text-align: center;
  align-self: center;
  font-size: 15px;
  border-bottom: 1px solid rgb(167, 165, 165);
}

.caption:focus {
  border-bottom: 2px solid rgb(161, 131, 190);
  margin-bottom: -1px;
}

.q-block {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
}

.question {
  width: 78%;
  padding: 10px;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  border: none;
  background-color: rgb(240, 236, 236);
  border-radius: 3px;
  border-bottom: 1px solid rgb(121, 120, 120);
  height: min-content;
}

.hide-description {
  display: none;
}
